# Netris Controller Configuration
NETRIS_URL=https://adam-ctl.netris.io
NETRIS_USERNAME=netris
NETRIS_PASSWORD=913QGAi6oQTSGgZm20eU
NETRIS_AUTH_SCHEME_ID=1
NETRIS_VERIFY_SSL=false

# Exporter Configuration
METADATA_REFRESH_INTERVAL=300
SCRAPE_TIMEOUT=20
EXPORTER_HOST=0.0.0.0
EXPORTER_PORT=9101
LOG_LEVEL=INFO
